<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Muli|Ubuntu&display=swap" rel="stylesheet">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- external stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- calendar -->
    <link rel="stylesheet" type="text/css" href="/calendar/jsCalendar.min.css">
    <script type="text/javascript" src="/calendar/jsCalendar.min.js"></script>
    <script src="/scripts/date.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Harmony and Melody</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    

                    <% if(!currentUser || currentUser.role !== 'instructor') { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/lessons">Lessons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/instructors">Instructors</a>
                        </li>
                    <% } %>

                    <%if(!currentUser) {%>
                   

                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>

                    <% } else { %>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/reviews">Reviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/schedules"><%= currentUser.role === 'admin' ? 'Enrollments' : 'Schedule' %></a>
                        </li>

                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                <%= currentUser.username %>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>                  
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>



    
