
<% include ./partials/header %>

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" dat-interval="3000">
        <div class="carousel-item">
            <div class="content">
                <img src="/images/home/band.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Discover your creative passion</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="content">
                <img src="/images/home/orch.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Train with our top-notch instructors</h5>
                </div>
            </div>
        </div>
        <div class="carousel-inner homecarousel">
            <div class="carousel-item active">
                <div class="content">
                    <img src="/images/home/abbyroad.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>And be ready to become the next rock star!</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<% include ./partials/footer %>